<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" id="de_A" name="de"><a href="/admin/shengedit/information?de=A" >动态资讯</a></li>
            <input type="hidden" id="de_choose" value="{$de}"/>
        </ul>
        <p></p>
        <div >

            <a class="btn btn-success btn-xs" href="{:U('/admin/shengedit/addInformation')}?de={$de}"><i class="glyphicon glyphicon-plus"></i>新增</a><p/>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <th width="15%">展示图</th>
                <th width="50%">
                    <if condition="$de eq A">动态资讯标题</if>
                </th>
                <th >操作</th>
                </thead>
                <tbody>
                <volist name="list" id="one">
                    <tr>
                        <td ><img src="{$one.information_images_path}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="width: 90px;"></td>
                        <td >{$one.title}</td>
                        <td>
                            <if condition="$one['if_special'] eq 0">
                                <a class="btn btn-info btn-xs" href="javascript:void(0);" onclick="doSpecial('{$one.id}')"><i class="glyphicon glyphicon-cog"></i>设为展板</a>
                            </if>
                            <a class="btn btn-primary btn-xs" href="{:U('/admin/shengedit/informationPicture')}?id={$one.id}&type=I" ><i class="glyphicon glyphicon-picture"></i>插入/更换产品图片</a>
                            <a class="btn btn-primary btn-xs" href="{:U('/admin/shengedit/addInformation')}?id={$one.id}" ><i class="glyphicon glyphicon-cog"></i>修改内容</a>
                            <a class="btn btn-danger btn-xs" href="javascript:void(0);" onclick="onDelete('{$one.id}')" ><i class="glyphicon glyphicon-trash"></i>删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var de = $("#de_choose").val();
        $("li[name='de']").removeClass("active");
        $("#de_"+de).addClass("active");
    });
    //设为首页左边展板
    function doSpecial(id){
        if(!id) return false;
        $.ajax({
            type:"post",
            url:"{:U('/admin/shengedit/doSpecial')}",
            data:{"id":id},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"设置成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"设置失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
    //删除
    function onDelete(id){
        if(!id) return false;
        var _options = {"flag":"error","text":"您确定要删除吗！","buttons":{"ok":{"action":function(){doneDel(id);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doneDel(id){
        if(!id) return false;
        $.ajax({
            type:"post",
            url:"{:U('/admin/shengedit/doInfoDelete')}",
            data:{"id":id},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"删除成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"删除失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
</script>

<include file="Common:footer" />