<include file="Common:head" title="前台导航栏"/>
    <div class="picContainer">
        <img src="__PUBLIC__/picture/about.png" alt="中心简介">
        <a  id="fix-title" href="">中心简介</a>
    </div>
    <div class="container-two" id="container-content">
        <div class="row">
            <div class="col-xs-2 col-md-2 left-menu">
                <ul>
                    <li><a href="/Home/Information/basic">中心概况</a></li>
                    <li><a href="/Home/Information/structure">机构设置</a></li>
                    <li><a href="/Home/Information/certificate">资质证书</a></li>
                </ul>
            </div>
            <div class="col-xs-10 col-md-10 right-content">
                <div class="breadcrumbs">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8">
                            <ol class="breadcrumb pull-left">
                                <li>
                                    <i class="glyphicon glyphicon-home"></i><a href="/home/Index/index">
                                    主页
                                </a>
                                </li>
                                <li>
                                    <if condition="$type eq 1">
                                    <a href="/home/Information/information">
                                        中心简介
                                    </a>
                                        <else />
                                        <a href="/home/Information/information#dynamic">
                                            资质证书
                                        </a>
                                    </if>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row" id="right-content-details">
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail">
                            <img src="__PUBLIC__/picture/cert-1" alt="...">
                            <div class="caption">
                                <span>中国国家认证认可监督管理委员会颁发</span>
                                <span>资质认定计量认证证书</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail">
                            <img src="__PUBLIC__/picture/cert-2" alt="...">
                            <div class="caption">
                                <span>中国建筑材料联合会颁发授权证书</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12" id="cert-pic">
                            <div class="thumbnail" style="clear:both;overflow:hidden;">
                                <img src="__PUBLIC__/picture/cert-3" alt="...">
                                <img src="__PUBLIC__/picture/cert-4" alt="...">
                                <div class="caption" style="float:left;">
                                    <span>中国建筑材料联合会颁发授权证书</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Common:footer"/>