<include file="Common:head" title="前台导航栏" xmlns="http://www.w3.org/1999/html"/>
<div class="picContainer">
    <img src="__PUBLIC__/picture/notice.jpg" alt="资料下载">
    <a id="fix-title" href="">资料下载</a>
</div>
<div class="container-two" id="container-content" style="position: relative" }>
    <div class="row">
        <div class="col-xs-2 col-md-2 left-menu">
            <ul>
                <li><a href="/Home/Information/file">检测资料</a></li>
                <li><a href="/Home/Information/scope">标准资料</a></li>
            </ul>
        </div>
        <div class="col-xs-10 col-md-10 right-content">
            <div class="breadcrumbs">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <ol class="breadcrumb pull-left">
                            <li>
                                <i class="glyphicon glyphicon-home"></i><a href="/home/Index/index">主页</a>
                            </li>
                            <li>
                                <a href="/home/Information/news">
                                    检测资料
                                </a>
                            </li>

                        </ol>

                    </div>
                </div>
            </div>
            <a name="">检测资料</a></br>
        </br>
            <!--<nav> {$boby}></nav>-->
            <volist name="data" id="vo">
                <a href="{$vo['save_path']}" download="{$vo['filename']}"style="display: block;font-size: large">{$vo.filename}</a></br>
            </volist>
            <nav>{$pagination1}</nav>


<!--<a name="">检测资料</a></br>-->
<!--<volist name="data" id="vo">-->
    <!--<a href="{$vo['save_path']}" download="{$vo['filename']}">{$vo.filename}</a></br>-->
<!--</volist>-->
<!--<nav>{$pagination1}</nav>-->

            <!--<a name="standard">资料下载</a></br>-->
<!--<volist name="standard" id="vo">-->
    <!--<a href="{$vo['save_path']}" download="{$vo['filename']}">{$vo.filename}</a></br>-->
<!--</volist>-->
<!--<nav>{$pagination2}</nav>-->
        </div>
    </div>
</div>
<include file="Common:footer"/>