<include file="Common:head" title="前台导航栏"/>
<style>
    .new-detail img{
        width: 50px !important;
    }
</style>
    <div class="picContainer">
        <img src="__PUBLIC__/picture/notice.jpg" alt="新闻中心">
        <a id="fix-title" href="">新闻中心</a>
    </div>
    <div class="container-two" id="container-content">
        <div class="row">
            <div class="col-xs-2 col-md-2 left-menu">
                <ul>
                    <li><a href="/Home/Information/news">通知公告</a></li>
                    <li><a href="/Home/Information/structure">行业新闻</a></li>
                    <!--<li><a href="/Home/Information/certificate">政策法规</a></li>-->
                </ul>
            </div>
            <div class="col-xs-10 col-md-10 right-content">
                <div class="breadcrumbs">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8">
                            <ol class="breadcrumb pull-left">
                                <li>
                                    <i class="glyphicon glyphicon-home"></i><a href="/home/Index/index">主页1</a>
                                </li>
                                <li>
                                    <a href="/home/Information/news">
                                        新闻中心
                                    </a>
                                </li>
                                <li>
                                    <a href="/home/Information/news">
                                        通知公告
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row" id="right-content-details">
                    <div class="col-xs-12 col-md-12">
                        <h2>{$one.title}</h2>
                        <div class="new-detail">
                            <p >{$one.content}</p>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Common:footer"/>