*{
    margin: 0;
    padding: 0;
}
body {
    color: #797979;
    font-family: 'Lato', sans-serif;
    min-width: 1200px;
    /*font-family: 'Open Sans', sans-serif;*/
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    padding: 0;
}
li {
    list-style: none;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
a:hover{
    color: #f1f1f1
}
::selection {
    background: #337ab7;
    color: #fff;
}
::-moz-selection {
    background: #337ab7;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
}
a { color:#fff;  }
p { line-height: 22px }
hr{
    margin-top: 10px;
}
.container, .container-fluid{
    width: 100%;
    padding: 0 80px;
}
.container-two{
    width: 100%;
    padding: 0 20%;
}
.head-section,
.head-section .navbar-default{
    background-color: #1E50AE;
    color: #fff;
    height: 100px;
    line-height: 100px;
    border: 0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #f1f1f1;
}
.head-section .navbar{
    margin-bottom: 0;
}
.head-section .navbar-nav{
    height: 100px;
    line-height: 100px;
    margin-left: 200px;
}
@media (max-width: 1366px) {
    .head-section .navbar-nav{
        margin-left: 10px;
    }
}
.navbar-default .navbar-nav li a{
    color: #fff;
    font-size: 18px;
}
.head-section a:hover {
    color: #f1f1f1;
}
.navbar-header{
    height: 100px;
    line-height: 100px;
    width: 40%;
}
/* @media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
} */
.navbar-header-right{
    float: right;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.navbar-header-right p{
    padding: 10px 0;
    margin-top: 5px;
}
.navbar-header .navbar-brand{
    color: #fff;
    font-size: 30px;
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    padding: 0;
}
@media (max-width: 1366px) {
    .navbar-header .navbar-brand{
        font-size: 18px;
    }
}
.navbar-header .navbar-brand img{
    display: inline-block;
    vertical-align: middle;
}
.head-section .navbar-nav{
    height: 100px;
    line-height: 100px;
    float: left;
}
.head-section .navbar .navbar-nav .dropdown .dropdown-menu{
    padding: 0;
}
.head-section .navbar .navbar-nav .dropdown, #contact-us{
    margin-top: 25px;
}
.dropdown-menu{
    background-color: #1E50AE;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: #337ab7;
    color: #fff;
}
.head-section .dropdown-menu>li>a{
   
}
.head-section .dropdown-menu>li>a:hover{
    background-color: #337ab7;
}
/* 内容区域 */
#content-area .row{
    margin-top: 10px;
}
#content-area .row #download-left .list-group #list-group-title{
    color: #fff;
    background-color: #1E50AE;
    font-size: 18px;
    font-weight: bold;
}
#content-area .row .list-group .list-group-item{
    padding: 10px 5px;
}
#content-area .row .list-group #list-group-title .glyphicon-chevron-right{
    float: right;
    vertical-align: middle;
}
/* 新闻中心、质检服务 */
#content-area #information-news #center-content .list-group .list-group-item{
    color: #000;
}
#content-area #information-news #center-content .list-group .list-group-item .list-left-title{
    float: left;
    cursor: pointer;
    display: block;
    width: 80%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#content-area #contactor-login{
    height: 200px;
    line-height: 200px;
    text-align: center;
}
/* 资料下载 */
#content-area .row #download-left .list-group .list-group-item{
    color: #000;
}
#content-area .row #download-left .list-group .list-group-item .list-left-title{
    float: left;
    width: 65%;
    cursor: pointer;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 中心简介 */
#content-area #information-news #information-news-details .list-group .list-group-item{
    color: #000;
}
#information-news-details .list-group .list-group-item .list-left-title{
    float: left;
    width: 80%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 页面大标题 */
#content-area .infomation-title,
#lab-sence .infomation-title{
    width: 100%;
    font-size: 24px;
    vertical-align: middle;
}
#content-area .infomation-title .glyphicon-leaf,
#lab-sence .infomation-title .glyphicon-leaf
{
    color: #1E50AE;
}
#content-area .infomation-title .infomation-title-text,
#lab-sence .infomation-title .infomation-title-text{
    color: #000;
}
/* 中心简介轮播 */
#content-area #carousel-introduce .carousel-inner>.item>img{
    width: 100%;
}
#content-area #carousel-introduce,
#content-area #carousel-introduce .carousel-inner,
#content-area #carousel-introduce .carousel-inner .item,
#content-area #carousel-introduce .carousel-inner .item img
{
    height: 205px;;
}
/* 实验室风采 */
.picContainer{
    height: 400px;
    width: 100%;
    margin: 0 auto;
}
.picContainer img{
    height: 400px;
    width: 100%;
}
/* 二级页面title */
.picContainer{
    position: relative;
}
.picContainer #fix-title{
    position: absolute;
    bottom: 20px;
    left: 300px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
/* 左侧导航 */
#container-content .left-menu ul{
    width: 100%;
}
#container-content .left-menu ul li{
    padding: 15px 10px;
    border-bottom: 1px solid #797979;
}
#container-content .left-menu li a{
    display: block;
    color: #000;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/* 面包屑 */
.breadcrumbs{
    margin-top: 10px;
}
.breadcrumbs .breadcrumb li a{
    color: #000;
}
/* 中心简介 */
#container-content .right-content #right-content-details img{
    display: block;
    width: 100%;
}
/* 资质证书 */
#container-content .right-content #right-content-details .thumbnail>img{
    display: block;
    float: left;
    width: 450px;
    height: 600px;
}
#container-content .right-content #right-content-details #cert-pic img{
    display: block;
    float: left;
    margin-left: 20px;
    width: 450px;
    height: 600px;
}
/* 中心概况 */
#container-content .right-content #right-content-details p{
    text-indent: 2em;
    font-size: 16px;
}
/* 通知公告 */
#container-content .right-content #right-content-details #notice-list .media-object{
    width: 32px;
    height: 32px;
}
/* footer */
footer{
    background-color: #000;
}
footer .footer-info{
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
}
footer .footer-info p{
    padding-bottom: 10px;
}
footer .footer-img{
    margin-top: 30px;
    padding-left: 100px;
}
.footer-small .copyright{
    text-align: center;
}