<include file="Common:head" title="前台导航栏"/>
<div>
    <h2>首页图片</h2>
    <img src="{$picture.pic_path}">
</div>
<div>
    <h2>中心简介</h2>
    <p>{$intro.content}</p>
</div>
<div>
    <h2>新闻中心</h2>
    <foreach name="news" item="for">
        <a src="">{$for.title}</a><br/>
    </foreach>
</div>
<div>
    <h2>质检服务</h2>
    <foreach name="inspection" item="ins">
        <a url="">{$ins.title}</a>
    </foreach>
</div>
<div>
    <h2>联系我们</h2>
    <div>
        <text>postal_code:</text><text>{$contact.postal_code}</text><br/>
        <text>address:</text><text>{$contact.address}</text><br/>
        <text>phone_number:</text><text>{$contact.phonenumber}</text><br/>
        <text>consult_phone:</text><text>{$contact.consult_phone}</text><br/>
        <text>email:</text><text>{$contact.email}</text><br/>
    </div>
</div>
<div>
    <h2>实验室风采</h2>
    <foreach name="lab_picture" item="vo">
        <img src={$vo.pic_path}>
    </foreach>
</div>
<include file="Common:footer"/>

