<include file="Common:head" title="前台导航栏"/>

    <!--breadcrumbs start-->
    <div class="breadcrumbs" style="margin-top: 0px;padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-left">
                        <li>
                            <i class="glyphicon glyphicon-home"></i><a href="/home/index/inex">
                                主页
                            </a>
                        </li>

                        <li class="active">
                            联系我们
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->
<div id="page-inner" class="container">
    <div class="container">
    <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s" align="center">
        <h3>{$rs.words1}</h3>
        <h3>{$rs.words2}</h3>
    </div>
    </div>
</div>
    <!-- map start-->
<div style="background-color:#f9f9f3 ">
    <div class=" container" align="center" style="padding: 30px 30px;">
        <div class="gray-bg" style="background-color:#F9F9F3; ">
            <div id="gaodemap" style="height: 500px;width: 100%;"></div>
        </div>
    </div>
</div>
    <div class="container">
        <!-- map end-->
        <h3 align="left">{$rs.company_name}</h3>
        <h4 align="left"><i class="glyphicon glyphicon-phone-alt"></i>  联系电话:{$rs.telephone}</h4>
        <h4 align="left"><i class="glyphicon glyphicon-comment"></i>  咨询邮箱：{$rs.email}</h4>
        <h4 align="left"><i class="glyphicon glyphicon-map-marker"></i>  公司地址：{$rs.address}</h4>
    </div>

<include file="Common:footbody" />

