<include file="Common:head" title="前台导航栏"/>

    <!--breadcrumbs start-->
    <div class="breadcrumbs" style="margin-top: 0px;padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-left">
                        <li>
                            <i class="glyphicon glyphicon-home"></i><a href="/yan/index/index">
                                主页
                            </a>
                        </li>

                        <li class="active">
                            联系我们
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!-- map start-->
<div class="container" id="contact">
    <div class="index-box-about" >
        <div class="box-title">
            <span class="box-title-line"></span>
            <h4>Contact us</h4>
            <h2>联系<strong>我们</strong></h2>
        </div>
    </div>
</div>
<!--container end-->
<div style="background-color:#f9f9f3 ">
    <div class="container">
        <!-- map start-->

        <div class=" container" align="center" style="padding: 30px 30px;">
            <div class="gray-bg" style="background-color:#F9F9F3; ">
                <div id="gaodemap" style="height: 500px;width: 100%;"></div>
            </div>
        </div>
        <!-- map end--></div>
</div>
<div style="padding-bottom: 50px;">

</div>
<include file="Common:footbody" />