<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>诺迪克光电产业研究院</title>
    <link rel="stylesheet" href="__PUBLIC__/yanjiu/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/yanjiu/css/font-awesome.min.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="__PUBLIC__/yanjiu/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="__PUBLIC__/yanjiu/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/yanjiu/css/yanjiu.css">
    <!--技术服务弹出框-->
    <link rel="stylesheet" href="__PUBLIC__/yanjiu/css/lightbox.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/yanjiu/js/html5shiv.js"></script>
    <script src="__PUBLIC__/yanjiu/js/respond.min.js"></script>

    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/animate.css">
    <!-- 地图 -->

    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <style type="text/css">
        .container{
            width: 1200px;!important;
        }
    </style>
</head>
<body>
<!-- Fixed navbar -->

<div class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">诺迪克光电产业研究院
                <!--<img src="__PUBLIC__/yanjiu/images/logo.png" alt="Techro HTML5 template">-->
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a  href="/yan/index/index" >首页</a></li>
                <li><a href="/yan/information/aboutUs">关于我们</a></li>
                <li><a href="/yan/information/information" >动态资讯</a></li>
                <li><a href="/yan/information/production" >技术服务</a></li>
                <li><a href="/yan/information/recruitment" >招贤纳士</a></li>
                <li><a href="/yan/contact/contact">联系我们</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->