<include file="Common:head" title="前台导航栏"/>
<!--breadcrumbs start-->
<div class="breadcrumbs" style="margin-top: 0px;padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-left">
                    <li>
                        <i class="glyphicon glyphicon-home"></i><a href="/yan/Index/index">
                        主页
                    </a>
                    </li>

                    <li class="active">
                        招贤纳士
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
<!--container start-->
<div class="container" id="zhaomu">
    <div class="index-box-about" >
        <div class="box-title">
            <span class="box-title-line"></span>
            <h4>Recruitment</h4>
            <h2>招贤<strong>纳士</strong></h2>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <center><img src="__PUBLIC__/static/images/图片 8.png"></center></div>

    <div class="col-sm-12 col-md-12">
        <h3 style="font-family: 'Microsoft YaHei';text-align: center">{$recruitment['content']}</h3>
    </div>
</div>

<!--container end-->
<include file="Common:footbody" />