<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <div id="TCrop">
            <form class="form-horizontal" id="myform" action="" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label talign-center fz13">照片</label>
                    <div class="col-sm-10">
                        <div class="face" id="attachment" style="width: 120px;height: 80px;" onclick="onFileUpload()">
                            <if condition="$type eq I">
                                <img src="{$image['information_images_path']}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="height: 100%;" />
                                <else/>
                                <img src="{$image['thumb_path']}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="height: 100%;" />
                            </if>

                        </div>
                        <if condition="$type eq I ">
                            <input type="hidden" name="imgurl" value="{$image['information_images_path']}" />
                            <else/>
                            <input type="hidden" name="imgurl" value="{$image['thumb_path']}" />
                        </if>

                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="hidden" name="type" value="{$type}"/>
                        <input type="file" name="file" onchange="ajaxFileUpload()" id="addfile" style="display:none;"  />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label talign-center">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success" onclick="onSave()">保 存</button>
                        <button type="button" class="btn btn-success" onclick="javascript:history.go(-1);">返 回</button>
                        <!--<a href="{:U('/admin/contract/sampleEdit')}?id={$centreno}" class="btn btn-success">返 回</a>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script src="__PUBLIC__/static/js/ajaxfileupload.js"></script>
<script type="text/javascript">
    function ajaxFileUpload(){
        var file = $("#addfile").val();
        if(file){
            $.ajaxFileUpload({
                url: "{:U('Uploader/start')}",
                secureuri: false,
                fileElementId: 'addfile',
                dataType: 'JSON',
                success: function (data, status) {
                    var ret = JSON.parse(data);
                    $("#addfile").val("");
                    //alert(ret.url);
                    if(ret.info=='succ'){
                        $("input[name='imgurl']").val(ret.url);
                        $("#attachment img").attr("src",ret.url);
                    }else{
                        var _options = {"text":"上传失败","flag":"error"};
                        if(ret.info) _options.text = ret.info;
                        doAlertDialog(_options);
                    }
                },
                error: function (data, status, e){
                    var _options = {"text":"上传失败","flag":"error"};
                    doAlertDialog(_options);
                }
            });
        }
        return false;
    }
    function onFileUpload() {
        $('#addfile').click();
        return false;
    }

    function onSave(){
        var options = {
            url: "{:U('/admin/diedit/saveInfoImage')}",
            dataType: 'json',
            beforeSubmit: function(){
                return true;
            },
            success: function (data) {
                if(data.msg=='succ'){
                    var _options = {"text":"上传成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"上传失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        };
        $("#myform").ajaxForm(options);
        return false;
    }

</script>
<include file="Common:footer" />