<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>官方网站-建筑材料干混砂浆产品质量监督检验测试中心</title>

    <!--高德地图API-->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.12&key=e6ae0ce52d025128d86829abd641f04b"></script>

    <style type="text/css">
        #container{
            width:900px;
            height: 540px;
        }
    </style>
</head>
<body>
<header>
    <h1>建筑材料干混砂浆产品质量监督检验测试中心</h1>
    <ul>
        <li>
            <a href="/Home/Index/index">主页</a>
        </li>
        <li>
            <a href="/Home/Information/introduction">中心简介</a>
            <ul>
                <li>
                    <a href="/Home/Information/introduction">中心概况</a>
                </li>
                <li>
                    <a href="/Home/Information/structure">机构设置</a>
                </li>
                <li>
                    <a href="/Home/Information/certificate">资质证书</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Home/Information/news">新闻中心</a>
            <ul>
                <li>
                    <a href="/Home/Information/news">通知公告</a>
                </li>
                <li>
                    <a href="/Home/Information/news#industry">行业新闻</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Home/Information/process">质检服务</a>
            <ul>
                <li>
                    <a href="/Home/Information/process">质检流程</a>
                </li>
                <li>
                    <a href="/Home/Information/scope">质检范围</a>
                </li>
                <li>
                    <a href="/Home/Information/query">报告查询</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Home/Information/file">资料下载</a>
            <ul>
                <li>
                    <a href="/Home/Information/file">检测资料</a>
                </li>
                <li>
                    <a href="/Home/Information/file#standard">标准资料</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Home/Information/contact">联系我们</a>
        </li>
    </ul>
</header>

